@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.poiret-one {
    font-family: 'Poiret One', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.bold {
    font-weight: 600;
}

body {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */

    /* border-radius: 8px; */
    background: #FFFFFF url(./cell.svg);
    color: #4D4D4D;

    /* margin: 32px; */
    padding: 24px;

    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 16px;
    right: 16px;
    background-image: url(./logo.png);
    background-size: 90px 90px;
    opacity: 0.1;

    width: 90px;
    height: 90px;
}

body::before:hover {
    opacity: 1;
}

body::after {
    content: "© 2022 Yevhenii Klymentovskyi. License: Creative Commons Zero v1.0 Universal";
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: fixed;
    left: 16px;
    bottom: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h1+h2 {
    margin-top: 0.67em;
}

.goback {
    text-decoration: none;
    background-color: var(--bg);
    color: var(--fg);
    align-self: flex-start;
    padding: 8px;
    border-radius: 24px;
    font-size: 32px;
}

.goback {
    --fg: #4D4D4D;
    --bg: #D3D3D3;
}

.goback:hover,
.goback:active {
    --fg: #FFFFFF;
    --bg: #0D6EFD;
}

.classes {
    display: flex;
    flex-flow: row wrap;
    align-self: stretch;

    background: #FFFFFF;
    box-shadow: 0 0 8px #4D4D4D40;
    border-radius: 32px;

    margin-top: 2em;
    padding: 24px;

    gap: 1em;
}

.class {
    --fg: #4D4D4D;
    --bg: #D3D3D3;
}

.class:hover,
.class:active {
    --fg: #FFFFFF;
    --bg: #0D6EFD;
}

.class {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    text-decoration: none;
    color: var(--fg);

    transition: color ease 400ms;
}

.class-header {
    background-color: var(--bg);
    border-radius: 12px 12px 0 0;
    padding: 12px 16px 5px 16px;
    line-height: 1;
    margin-right: 96px;
    margin-bottom: -1px;
    transition: background-color ease 400ms;
}

.class::after {
    content: "";
    border-radius: 0 12px 12px 12px;

    width: 100%;
    height: 180px;

    background-color: var(--bg);
    transition: background-color ease 400ms, opacity ease 200ms;
}